@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic);body{overflow-x:hidden;overflow-y:scroll;background:#fff;color:#aeaeae;font:400 15px/24px "Roboto",sans-serif;-webkit-font-smoothing:antialiased}*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*:focus{outline:0}::-moz-focus-inner{padding:0;border:0}html,body{width:100%;min-height:100%}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}a{color:#fa903e}a:hover,a:focus{color:#343434;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}h1,h2,h3,h4,h5,h5,h6{font-family:"Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;color:#343434;font-weight:bold;margin:0}ul,ol{padding:5px
20px}#sidebar ul,.wps-content
ul{list-style:none;border:none;padding:0!important}a:hover{text-decoration:none}.pointer{cursor:pointer!important}.uppercase{text-transform:uppercase}h1{font-size:32px;line-height:48px}h2{font-size:28px;line-height:44px}h3{font-size:26px;line-height:38px}h4{font-size:21px;line-height:40px}h5{font-size:18px;line-height:35px}h6{font-size:16px;font-weight:600;margin-bottom:16px}.hidden{display:none}.alignleft{float:left;margin:20px
20px 20px 0}.alignright{float:right;margin:20px
0 20px 20px}.aligncenter{margin-left:auto;margin-right:auto;display:block;clear:both}blockquote{border-left:0 none;color:#282828;font-size:18px;font-style:italic;line-height:2;margin:0
0 20px;padding:10px
20px}html,body,html,body,.container{height:100%}::-moz-selection,::selection{color:#fff;text-shadow:none;background:#282828}.project-desc,.header{background:#fff;padding:60px
0 30px;position:relative}.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{background:rgb(0, 0, 0);color:#fff;background:rgba(0, 0, 0, 0)}.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav>.open>a:focus{background:rgb(0,0,0);background:rgba(0,0,0,0)}.navbar-default{background:transparent;border:none;padding:0
!important;margin-bottom:0 !important}.dropdown-menu{background-clip:padding-box;background:rgb(52, 52, 52);background:rgba(52, 52, 52, 1);border:0
none;border-radius:0 !important;box-shadow:none;display:none;float:left;font-size:14px;margin:2px
0 0;padding:0}.dropdown-menu>li>a{border-bottom:1px solid #454545;color:#aeaeae;padding:10px
20px}.cbp-l-filters-button .cbp-filter-item,
.navbar-default .navbar-nav>li>a{color:#aeaeae;padding:15px
13px;font-weight:500;border:none;font-size:16px}.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav>li.current-menu-item>a{color:#343434}.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle{background-color:#343434;border-color:#343434;margin-top:10px;padding:7px
10px}.navbar-brand{color:#343434 !important;font-size:48px;font-weight:bold;padding:0;height:60px;line-height:55px;letter-spacing:-0.05em;text-decoration:none}.copyrights{background:rgb(52, 52, 52);background:rgba(52, 52, 52, 1);display:block;padding:25px
20px;position:relative;z-index:1}.copyrights
p{margin-top:5px}.social
a{background:rgba(52, 52, 52, 1) !important;background:rgb(52, 52, 52);color:#959595;font-size:21px;height:40px;line-height:36px;text-align:center;margin-left:6px}.social a:hover{color:#fff}.cbp-l-caption-title{color:#fff;font:600 18px/24px "Roboto",sans-serif}.cbp-l-caption-desc{color:#aaa;font:300 12px/18px "Roboto",sans-serif;margin-top:2px}.cbp-l-caption-text{font:300 14px/21px "Roboto", sans-serif;color:#fff;letter-spacing:3px}.cbp-caption-overlayBottomPush .cbp-caption-activeWrap{bottom:-80px;height:80px;background:rgb(52,52,52);background:rgba(52,52,52,1)}.cbp-l-caption-buttonLeft:hover,.cbp-l-caption-buttonRight:hover,.cbp-l-caption-buttonLeft,.cbp-l-caption-buttonRight{background-color:#fa903e;color:#fff;display:inline-table;font:500 12px/28px "Roboto",sans-serif;margin:1px;padding:0;text-align:center;text-transform:uppercase;width:28px}.cbp-l-grid-projects-title a,.cbp-l-grid-projects-title{color:#343434;font:700 17px/26px "Roboto",sans-serif;text-align:center;text-transform:uppercase}.cbp-popup-navigation-wrap,.cbp-popup-singlePage,.cbp-popup-navigation,.cbp-l-inline{background:transparent !important;background:rgba(0,0,0,0) !important}.cbp-popup-singlePage{background:rgba(22,22,22,0.9) !important}.cbp-popup-singlePage-counter ,
.cbp-popup-singlePage .cbp-l-inline-view:hover,
.cbp-popup-singlePage .cbp-l-loadMore-button .cbp-l-loadMore-button-link:hover,
.cbp-popup-singlePage .lead,
.cbp-popup-singlePage .cbp-l-inline-title{color:#fff}.cbp-popup-singlePage .cbp-l-inline-view,
.cbp-popup-singlePage .cbp-l-loadMore-button .cbp-l-loadMore-button-link{border-color:#fff;color:#fff;font-weight:400}.cbp-l-grid-projects-desc
a{color:#aeaeae !important}.cbp-l-grid-projects-desc{font:300 12px/18px "Roboto", sans-serif;color:#aeaeae;letter-spacing:1px;margin-top:6px;text-align:center;text-transform:uppercase}.cbp-l-inline-view,
.cbp-l-loadMore-button .cbp-l-loadMore-button-link{border:1px
solid #343434;border-radius:0;color:#343434;letter-spacing:0.1em;background:rgba(0,0,0,0) !important;background:transparent !important;display:inline-block;font:400 13px/34px "Roboto", sans-serif !important;min-width:80px;text-transform:uppercase;max-width:260px;text-decoration:none;padding:0
20px;outline:0;margin-top:70px}.cbp-l-inline-view{margin-top:0 !important}.cbp-l-inline-view:hover,
.cbp-l-loadMore-button .cbp-l-loadMore-button-link:hover{color:#343434;text-decoration:none;border:1px
solid #fa903e}.cbp-l-inline-title{color:#343434;font:700 38px/76px "Roboto",sans-serif;letter-spacing:-1px}.cbp-l-inline-desc{font:400 15px/24px "Roboto",sans-serif;color:#aeaeae;margin-top:10px !important;letter-spacing:0px}.cbp-l-inline-desc
p{margin-bottom:20px}.cbp-l-inline-right{padding:30px}.cbp-l-filters-button .cbp-filter-item:after{content:"|";padding:0
10px}.cbp-l-inline-left{cursor:pointer;padding:30px
0}.cbp-l-inline-left
img{margin-bottom:20px}.cbp-l-filters-button .cbp-filter-item:last-child:after{color:#fff}.cbp-l-filters-button .cbp-filter-counter{right:25px}.cbp-caption-overlayBottomPush .cbp-caption-activeWrap
.cbp-l-filters-button .cbp-filter-counter,
.cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active{background:#fff;color:#343434}.cbp-l-filters-button .cbp-filter-counter{background:rgb(52, 52, 52);background:rgba(52, 52, 52, 1);border-radius:0}.cbp-l-filters-button .cbp-filter-counter:before{border-top-color:#343434}.cbp-l-filters-button .cbp-filter-item{padding:0;margin-right:0;border-radius:0;font-family:"Roboto",Helvetica,Arial,sans-serif}.cbp-l-inline{padding:0;background:#fff}.magnifier
.buttons{visibility:hidden;position:absolute;cursor:pointer;width:100%;top:50%;margin-top:-10px;opacity:0;-webkit-transform:scale(0.2);-moz-transform:scale(0.2);-ms-transform:scale(0.2);-o-transform:scale(0.2);transform:scale(0.2);-webkit-transition:all .3s ease 0;-moz-transition:all .3s ease 0;-ms-transition:all .3s ease 0;-o-transition:all .3s ease 0;transition:all .3s ease 0}.sitemap ul li a,
.magnifier .buttons
a{color:#343434}.magnifier .buttons a:hover{color:#fff}.magnifier:hover .authordate,.magnifier:hover .hoverbutton,.magnifier:hover
.buttons{opacity:1;visibility:visible;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}.entry:hover
.magnifier{opacity:1;visibility:visible}.entry{display:block;position:relative}.magnifier{position:absolute;background:rgba(255,255,255,0.6);text-align:center;top:0;left:0;z-index:998;bottom:0;right:0;opacity:0;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);transform:scale(1)}.GrayScale{-webkit-filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");filter:gray;-webkit-filter:grayscale(100%);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=10);opacity:1;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-ms-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s}.GrayScale:hover{-webkit-filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");-webkit-filter:grayscale(0%);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1}.animationload{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#343434;z-index:999999}.loader{width:200px;text-indent:-99999;height:200px;font-size:0;position:absolute;left:50%;top:50%;background-image:url(/wordpress/bloxo/wp-content/themes/bloxo/images/loading.gif);background-repeat:no-repeat;background-position:center;margin:-100px 0 0 -100px}.cbp-item img,
.single-work
img{cursor:url(/wordpress/bloxo/wp-content/themes/bloxo/images/cursor.png) 60 60, crosshair!important}.fadeeffect,
.single-work
img{-webkit-animation:fadein 2s;-moz-animation:fadein 2s;-ms-animation:fadein 2s;-o-animation:fadein 2s;animation:fadein 2s;width:100%}@keyframes
fadein{from{opacity:0}to{opacity:1}}@-moz-keyframes
fadein{from{opacity:0}to{opacity:1}}@-webkit-keyframes
fadein{from{opacity:0}to{opacity:1}}@-ms-keyframes
fadein{from{opacity:0}to{opacity:1}}@-o-keyframes
fadein{from{opacity:0}to{opacity:1}}.btn-primary{background-color:#fa903e;border-color:#fa903e;color:#fff;text-align:center}.btn-primary:hover,.btn-primary:focus,.btn-primary.focus,.btn-primary:active,.btn-primary.active,.open>.dropdown-toggle.btn-primary{color:#fff;background-color:#343434;border-color:#343434}.wrapper{width:94%;max-width:980px;margin:0
auto}.page-title{background:#fff;padding:30px
0 60px;position:relative}.page-wrapper,.portfolio-wrapper,.white-wrapper{background:#fff;padding:30px
0;position:relative}.color{color:#fa903e !important}.color-bg{background:#fa903e;color:#fff;padding:0
10px}.sitemap ul,
.check
ul{margin:0;padding:5px}.details
ul{margin:20px
0;padding:5px}.sitemap ul li,
.check ul li,
.details ul
li{list-style:none;margin-bottom:10px}.check li:before,
.details li:before{content:"\ea6e";font-family:"jollyicons";font-size:16px;left:0;color:#343434;padding-right:10px;position:relative;top:2px}.form-control{background-color:#fff;background-image:none;border:1px
solid #343434;border-radius:0;box-shadow:none;color:#343434;height:37px}label{color:#343434;display:inline-block;font-size:12px;font-weight:300;margin:10px
0 5px;max-width:100%}.form-control:focus{border-color:#fa903e;outline:0;box-shadow:none}.dropdown{padding:0
!important}.pager li > a, .pager li>span{background-color:#fff;border:1px
solid #343434;border-radius:0;color:#343434;display:inline-block;font-size:21px;padding:8px
5px;min-width:40px}.pager li > a:hover, .pager li > span:hover,
.cbp-l-inline-view:hover,
.cbp-l-loadMore-button .cbp-l-loadMore-button-link:hover{color:#343434;background:#fff;border:1px
solid #fa903e}.lead{margin:10px
0 20px 0 !important}.single-work{padding:0
!important}.media{cursor:pointer;margin-bottom:30px}.gallery{padding:0
15px !important}#subscribe .form-control{margin:20px
0 10px}.widget-title{padding-bottom:20px}.widget-title
h3{font-size:24px;line-height:28px}.nav-tabs{border-bottom:0 none;padding:0}.nav-tabs>li>a{border-radius:0;color:#343434}.tab-content{border:1px
solid #DDD;padding:20px}.panel-title{font-size:14px;font-weight:400 !important;line-height:30px;margin:0
!important;padding:0
!important}.panel-default>.panel-heading:hover,.panel-default>.panel-heading:focus,.panel-default>.panel-heading{background-color:#fff}#content{padding-bottom:0}.widget{background:#fff;padding:0
30px;position:relative;margin-bottom:50px}.post-title{padding:0
0 10px}.post-title h3
a{font-size:35px;color:#343434}#sidebar ul li
a{color:#aeaeae}.blog-post{padding-bottom:50px;margin-bottom:50px}.social
p{text-transform:uppercase;padding:0;margin:0}.post-share{margin:30px
0}.blog-post
.details{margin:10px
0 20px}.post-share .social
a{background:#fff !important}.post-share .social a:hover{color:#343434}.meta span a,
.meta
span{color:#aeaeae;text-transform:uppercase;padding-right:10px;font-size:13px;margin-bottom:20px}.meta{padding:8px
0}.single-post{margin-bottom:0 !important}.media-list .media-object{width:75px;margin-right:15px}.media-heading{color:#282828 !important;font-family:Athelas !important;font-size:24px !important;font-style:italic;margin:10px
0;text-align:left;text-transform:none !important}.media-heading .pull-right{font-size:13px}.media-list{margin-top:60px}.media, .media
.media{margin-top:60px}.site-title{font-size:60px;font-weight:bold;color:#343434;letter-spacing:-0.043333em;line-height:1.6em}.tags a,.site-desc{color:#aeaeae;font-family:"PT Serif",serif;font-size:26px;font-style:italic;letter-spacing:-1px;line-height:1.4em;margin-top:6px}.tags
a{letter-spacing:0.5px;font-size:16px;margin-top:0;line-height:18px;margin-right:5px}.tags a:hover{text-decoration:underline}.item
img{margin:auto}@media screen and (max-width: 768px){.dropdown-menu>li>a{border-bottom:1px solid #efefef}.copyrights{text-align:center}.pull-left,.pull-right{float:none}.site-title{font-size:34px !important}.site-desc{font-size:18px !important}.navbar-collapse{border-top:1px solid transparent;box-shadow:none;margin-top:20px}}.widget_archive li,
.widget_categories li,
.widget_meta li,
#recentcomments li,
.widget_recent_entries
li{list-style:none !important;margin-bottom:5px !important;margin-left:10px !important}.gallery-caption{}.commentlist
.bypostauthor{}.wp-caption{border:1px
solid #ddd;text-align:center;background-color:#f3f3f3;padding-top:4px;margin:10px;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px}.wp-caption
img{margin:0;padding:0;border:0
none}.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;padding:0
4px 5px;margin:0}.widget_calendar{}#wp-calendar{width:100%}#wp-calendar
caption{text-align:right;color:#333;font-size:12px;margin-top:10px;margin-bottom:15px}#wp-calendar
thead{font-size:10px}#wp-calendar thead
th{padding-bottom:10px}#wp-calendar
tbody{color:#aaa}#wp-calendar tbody
td{background:#f5f5f5;border:1px
solid #fff;text-align:center;padding:8px}#wp-calendar tbody td:hover{background:#fff}#wp-calendar tbody
.pad{background:none}#wp-calendar tfoot
#next{font-size:10px;text-transform:uppercase;text-align:right}#wp-calendar tfoot
#prev{font-size:10px;text-transform:uppercase;padding-top:10px}.sticky{background:#efefef;border:3px
solid #fff}#searchform{}.widget_search{}.screen-reader-text{}.widget_meta{}.widget_meta
ul{}.widget_meta ul
li{}.widget_meta ul li
a{}.widget_links{}.widget_links
ul{}.widget_links ul
li{}.widget_links ul li
a{}.widget_archive{}.widget_archive
ul{}.widget_archive ul
li{}.widget_archive ul li
a{}.widget_archive
select{}.widget_archive
option{}.widget_pages{}.widget_pages
ul{}.widget_pages ul
li{}.widget_pages ul li
a{}.widget_links{}.widget_links li:after{}.widget_links li:before{}.widget_categories{}.widget_categories
ul{}.widget_categories ul
li{}.widget_categories ul
ul.children{}.widget_categories
a{}.widget_categories
select{}.widget_categories
select#cat{}.widget_categories
select.postform{}.widget_categories
option{}.widget_categories .level-0{}.widget_categories .level-1{}.widget_categories .level-2{}.widget_categories .level-3{}.recentcomments{}#recentcomments{}#recentcomments
li{}#recentcomments li
a{}.widget_recent_comments{}.widget_recent_entries{}.widget_recent_entries
ul{}.widget_recent_entries ul
li{}.widget_recent_entries ul li
a{}.textwidget{}.widget_text{}.textwidget
p{}.form-submit{display:none}.woocommerce .comment-form .form-submit{display:inline;margin-top:10px !important;float:right;padding-right:15px}code{white-space:pre-wrap}.tags{}.sticky{}.bypostauthor{}.aligncenter{display:block;margin:0
auto}.alignright{float:right;margin:0
0 10px 20px}.alignleft{float:left;margin:0
20px 10px 0}.floatleft{float:left}.floatright{float:right}.textcenter{text-align:center}.textright{text-align:right}.textleft{text-align:left}.wp-caption{max-width:100% !important}.wp-caption p.wp-caption-text{color:#000;margin-top:10px;box-sizing:border-box;text-align:center}.wp-caption
img{display:block;border:0
none;margin:0;width:100%;padding:0}.wp-smiley{margin:0
!important;max-height:1em;width:auto !important}#img-attch-page{overflow:hidden;text-align:center}#img-attch-page
img{display:inline-block;margin:0
auto;margin-bottom:20px;max-width:100%}.gallery{margin:0
!important}.gallery-caption{text-align:center}.gallery-icon
img{border:none !important}.gallery-icon img:hover{opacity:0.85}.gallery-item
a{position:relative}.gallery-item a, .gallery-item
img{display:block}.gallery-item-overlay{position:absolute;top:0;left:0;background:#000;width:100%;height:100%;opacity:0;-moz-opacity:0;-webkit-opacity:0;transition:all .15s ease-in-out;-webkit-transition:all .15s ease-in-out;-moz-transition:all .15s ease-in-out}.gallery-item-overlay
.fa{position:absolute;top:50%;left:50%;height:40px;line-height:40px;width:40px;margin-left:-20px;margin-top:-60px;text-align:center;font-size:32px;color:#fff;transition:all .15s ease-in-out;-webkit-transition:all .15s ease-in-out;-moz-transition:all .15s ease-in-out}.gallery-item a:hover .gallery-item-overlay{opacity:0.76;-moz-opacity:0.76;-webkit-opacity:0.76}.gallery-item a:hover .gallery-item-overlay
.fa{margin-top:-20px}.gallery-item-caption{text-align:center;font-size:0.923em;margin-top:10px}.gallery{margin:0
-15px !important;overflow:hidden}.gallery
.col{margin:0
0 20px;padding:0
10px}.gallery
.span_1_of_2{width:50%}.gallery
.span_1_of_3{width:33.33333333333333%}.gallery
.span_1_of_4{width:25%}.gallery
.span_1_of_5{width:25%}.gallery
.span_1_of_6{width:25%}.widget
option{width:18.4em}.widget
select{width:100%;font-family:Arial,Helevtica,Verdana,san-serif;font-size:13px;position:relative;outline:none;padding:5px;margin-right:1px;color:#696969;border:1px
solid #D3D3D3;background:url(/wordpress/bloxo/wp-content/themes/bloxo/images/banner_background.png) left bottom  repeat-x}.textwidget img,
.wp-caption
img{width:100%;height:100%}#sidebar .widget img,
.post-wrapper .entry img,
.single_portfolio_media img,
.footer
img{zoom:1;filter:alpha(opacity=80);opacity:0.8;-webkit-transition:opacity .8s linear, opacity .8s linear;-moz-transition:opacity .8s linear, opacity .8s linear;-o-transition:opacity .8s linear, opacity .8s linear;-ms-transition:opacity .8s linear, opacity .8s linear;transition:opacity .8s linear, opacity .8s linear}#sidebar .widget img:hover{zoom:1;filter:alpha(opacity=100);opacity:1}#sidebar ul
li{margin:10px}#sidebar ul li
a{color:#212121}#sidebar ul ul,
#sidebar ol ul,
#sidebar ul ol,
#sidebar ol
ol{padding-left:15px}.widget ul li:before{color:#343434;content:"";font-family:"jollyicons";font-size:16px;left:0;padding-right:10px;position:relative;top:2px}.widget ul
li{list-style:outside none none;margin-bottom:10px}.widget ul li
a{color:#aeaeae !important}.tagcloud
a{font-size:14px !important}.paginate-links > span,.paginate-links
a{background-color:#fff;border:1px
solid #343434;border-radius:0;color:#343434;display:inline-block;font-size:21px;padding:8px
5px;min-width:40px;text-align:center}.paginate-links>a:hover,.paginate-links>span:hover{color:#343434;background:#fff;border:1px
solid #fa903e}.single-post
table{margin-bottom:20px;max-width:100%;width:100%}.single-post table
caption{color:#777;padding-bottom:8px;padding-top:8px;text-align:left}.single-post table thead tr
th{border-bottom:2px solid #ddd;vertical-align:bottom;border-top:0 none !important}.single-post table thead tr th,.single-post table thead tr
td{border-top:1px solid #ddd;line-height:1.42857;padding:8px;vertical-align:top}.single-post table tbody
tr{border-top:1px solid #ddd}.single-post ol li:before{content:normal}.media-left,.media-right,.media-body{display:inline-block}#comments .media-body{display:table-cell}.woocommerce .star-rating span, .woocommerce-page .star-rating
span{color:#000}.woocommerce .woocommerce-product-rating, .woocommerce-page .woocommerce-product-rating{margin:15px
0}.woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity
input.qty{height:31px}.woocommerce .quantity .plus, .woocommerce .quantity .minus, .woocommerce #content .quantity .plus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .plus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .plus, .woocommerce-page #content .quantity
.minus{background:#fff}#tab-description
h2{margin-bottom:20px}.images
img{padding:0
!important;margin:0
12px !important}.panel{background-color:#fff;border:1px
solid transparent;border-radius:4px;box-shadow:none;margin-bottom:20px}.woocommerce div.product .woocommerce-tabs ul.tabs li, .woocommerce #content div.product .woocommerce-tabs ul.tabs li, .woocommerce-page div.product .woocommerce-tabs ul.tabs li, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs
li{background:none repeat scroll 0 0 #fff;border:1px
solid #e6e6e6;border-top-left-radius:0;border-top-right-radius:0;box-shadow:none;display:inline-block;margin:0
-4px;padding:0
1em;position:relative;z-index:0}.single-woo-item .details
h3{font-size:21px;line-height:1;margin-top:20px}.thumbnails
img{margin:0
0 0 5px !important}.thumbnails
a{width:30% !important}.thumbnails{display:block;margin:12px;padding:0;position:relative;width:100%}