.woocommerce .single-work.GrayScale
div.images{width:98%}.woocommerce.single .single-work .thumbnails
a.zoom{width:13%}.details .add_to_cart_btn:before{content:""}.details .add_to_cart_btn
button.single_add_to_cart_button{background:none repeat scroll 0 0 transparent;border-color:#343434;color:#343434}.details .add_to_cart_btn button.single_add_to_cart_button:hover,
.details .add_to_cart_btn button.single_add_to_cart_button:focus,
.details .add_to_cart_btn button.single_add_to_cart_button:active,
.woocommerce .shop_table .actions input.button:hover,
.woocommerce .shop_table .actions input.button:focus,
.woocommerce .shop_table .actions input.button:active,
#order_review .form-row .button:hover,
#order_review .form-row .button:focus,
#order_review .form-row .button:active,
.shop_table .order-actions .button:hover,
.shop_table .order-actions .button:focus,
.shop_table .order-actions .button:active,
#content .woocommerce .button:hover,
#content .woocommerce .button:focus,
#content .woocommerce .button:active,
#review_form #respond .form-submit .submit:hover,
#review_form #respond .form-submit .submit:focus,
#review_form #respond .form-submit .submit:active{background:none repeat scroll 0 0 transparent !important;border-color:#fa903e !important;color:#343434 !important;transition:all 0.3s ease-in-out 0s !important}.details .add_to_cart_btn
button{font:14px "Roboto",sans-serif !important;text-shadow:none !important;padding:5px
21px}.woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-form{display:block !important}.woocommerce .cart-collaterals .shipping_calculator
p{color:#fa903e}.woocommerce .cart-collaterals
.shipping_calculator{clear:inherit;float:none}#order_review .form-row .button,
.woocommerce .shop_table .actions input.button,
.shop_table .order-actions .button,
#content .woocommerce .button,
#review_form #respond .form-submit
.submit{background:none repeat scroll 0 0 transparent !important;border-color:#343434 !important;color:#343434 !important;box-shadow:none !important}.woocommerce .shop_table .actions input.button[value],
#order_review .form-row input.button[value],
.shop_table .order-actions .button,
#content .woocommerce input.button[value],
#review_form #respond .form-submit input.submit[value]{font:14px "Roboto",sans-serif !important;text-shadow:none !important}.woocommerce .shop_table .actions .coupon
#coupon_code{width:175px !important;box-shadow:none !important}#wrapper .woocommerce-message:before,
#content .woocommerce .woocommerce-error:before,
.woocommerce .woocommerce-info:before{height:2.5em}.woocommerce .input-text{background-color:#fff;background-image:none;border:1px
solid #ccc;border-radius:4px;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;color:#555;display:block;font-size:14px;height:34px;line-height:1.42857;padding:6px
12px;transition:border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;width:100%}.woocommerce .input-text{background-color:#fff;background-image:none;border:1px
solid #343434;border-radius:0;box-shadow:none;color:#343434;height:37px}.woocommerce-tabs
li{box-shadow:none !important}.woocommerce-tabs
.panel{padding:0px
20px !important}